.log__container{
    position: relative;
    display: block;
    width: 30rem;
    height: 35rem;
    padding: 2rem;
    margin: 2rem;
    border: 2px solid white;
    top: 0;
    right: 0;
    transition: all 1s ease;
}
.log__title{
    color: white;
    text-align: center;
    font-size: 40px;
}
.log__content{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.log__label{
    color: white;
    font-size: 25px;
}
.log__input{
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: transparent;
    border-width: 0 0 2px 2px;
    border-color: white;
    font-size: 25px;
    font-weight: 600;
    border-style: solid;
    color: #142F43;
}
.log__input:focus{
    outline: none;
}
.log__button{
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
    border: 2px solid white ;
    color: #FF9292 ;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
}
.log__button:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.behind{    
    z-index: 2;
}
.front{
    z-index: 6;
}

.log__or{
    text-align: center;
    color: white;
    margin: 2rem 0;
    font-size: 25px;
    font-weight: 500;
}


.google-btn {
    cursor: pointer;
    width: 100%;
    height: 3rem;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow .3s ease;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
.btn-text {
    float: right;
    display: flex;
    margin: 0.8rem 4rem;
    color: white;
    font-size: 25px;
    letter-spacing: 0.2px;
    text-align: center;
}
.google-icon {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    width: 2rem;
    height:2rem;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
    background-color: white;
}